/*
CSS Credit: http://www.templatemo.com/
*/
/* copyright */



body {
	margin:0px;
	padding:0px;
	color:#717174;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	line-height:1.5em; 
	background-color: #000;
}

.wrapper { min-width:1330px;margin:0 auto;overflow: hidden; }

a, a:link, a:visited {
	color:#c0c0c2;
}

a:hover {
	color: #00FFFF;
	text-decoration:none;
}

p { margin: 0px; padding: 0 0 10px 0; }
img { border: none; }

h1, h2, h3, h4, h5 { font-weight: normal; }

h1 { font-size: 33px; color: #fff; margin: 0 0 30px 0; padding: 5px 0; }
h2 { font-size: 32px; color: #fff; margin: 0 0 20px 0; padding: 0; }
h3 { font-size: 21px; color: #fff; margin: 0 0 20px 0; padding: 0; }
h4 { font-size: 18px; color: #fff; margin: 0 0 10px 0; padding: 0; }
h5 { font-size: 16px; color: #fff; margin: 0 0 10px 0; padding: 0; }
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0;}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.image_wrapper {
	padding: 8px;
	border: 1px solid #333;
	background: #000;
	margin-bottom: 10px;
}
.fl_img {
	float: left;
	margin: 3px 30px 15px 0;
}
.fr_img {
	float: right;
	margin: 3px 0 15px 15px;
}

blockquote { font-style: italic; }
cite { font-weight: bold; }
cite span { color: #fff; }

a.button  {
	clear: both;
	display: block;
	width: 109px;
	height: 30px;
	padding: 10px 0 0 0;
	margin:0;
	margin-top:4px;
	background: #00FF00;
	color: #ccc;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
 text-shadow: 1px 1px 2px rgba(0,0,0,1);
}


a.button:hover {
	color: #fff;
	background:#00B2EE;
clear: both;
	display: block;
	width: 109px;
	height: 30px;
	padding: 10px 0 0 0;
	margin:0;
	margin-top:4px;
	
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
 text-shadow: 1px 1px 2px rgba(0,0,0,1);
}

.infolinks {
margin:0;
list-style-type:none;
color:purple;
}

ul.listy {
	margin: 20px;
	padding: 0;
	list-style-image:  url(../images/list_icon.png);
}

ul li {
	margin: 0 0 15px 0;
	padding: 0 0;
}

/* menu */

#templatemo_menu_wrapper {
margin-left:-30px;
width: 100%;
height: 61px;
background-color:rgba(0,0,0,0.2);
z-index:10;
 margin-top:-20px;	
}


.description {
text-indent:5px;
color:#CDCDCD;
padding:15px;
background-color:rgba(0,0,0,0.8);
font-size:13px;
line-height:155%;

}

.topshow {
margin-bottom:20px;
text-indent:5px;
color:#fff;
padding:15px;
left:0;
font-size:14px;
line-height:144%;
}

.topshow7 {
margin-bottom:20px;
text-indent:5px;
color:	#CDCDCD;
font-size:13px;

}



.turqp {
color: #FFCC00;
}

.lightp {
color: #00B2EE;
}

.greenp {
color: #00FF00;
}


.firststand {
color:#00FF00;
}

#templatemo_menu {
	width: 900px;
	height: 62px;
	margin-right: -130px;
	padding: 0;
	margin-top:-53px;
	float:right;
        z-index:10;

	
}

#templatemo_menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#templatemo_menu ul li{
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a{
	float: left;
	display: block;
	width: 118px;
	height: 42px;
	padding: 19px 0 0 0;
	margin-right: 1px;
	text-align: center;
	font-size: 15px;
	text-decoration: none;
	color: #fff;	
	font-weight: normal;
	outline: none;
}
#templatemo_menu li .current {background:#FF0080;
color: #fff;

}
#templatemo_menu li a:hover {
	 color: #fff;
	 background-color:#00B2EE;
       
}

.bluep {
color:#BF5FFF;
}

#standout {
color:#6bff4d;
}
.standout2 {
color:#6bff4d;
font-style:italic;

}


/* end of menu */

/* header */

a.paynow {
font-size:11px;
float:right;
margin-right:49px;
color:#fff;
text-decoration:none;
padding:3px;
}
a.paynow:hover {
font-size:11px;
float:right;
margin-right:49px;
padding-top:1px;
color:#fff;
padding:3px;
text-decoration:none;
}
p.paynow {
font-size:11px;
float:right;
margin-right:245px;
padding-top:2px;
color:#00FF00;
text-decoration:none;
}

.greencall {
color:#00B2EE;
}


#templatemo_header {
z-index:0;
margin-top:0px;
	background: url(../images/12.jpg) no-repeat;
	width: 100%;
	padding: 20px 30px;
	margin: 0 auto;
	height: 62px;
        background-size:cover;


}
#templatemo_header2 {
z-index:0;
margin-top:0px;
	
	width: 100%;
	height: 62px;
	padding: 20px 30px;
	margin: 0 auto;
	background: url(../images/12.jpg) no-repeat;
        background-size:cover;
}
.templatemo_header_wrapper2 {
	width: 100%;
	height: 63px;
        background: #fff;
       margin-top:25px;
}

#templatemo_header_wrapper {
	width: 100%;
	height: 63px;
        background: #fff;
        margin-top:25px;
}


#templatemo_header3 {
z-index:0;
margin-top:0px;
	
	width: 100%;
	height: 400px;
	padding: 20px 30px;
	margin: 0 auto;
	background: url(../images/12.jpg) no-repeat;
        background-size:cover;


}
#templatemo_header4 {
z-index:0;
margin-top:0px;
	
	width: 100%;
	height: 400px;
	padding: 20px 30px;
	margin: 0 auto;
	background: url(../images/12.jpg) no-repeat;
        background-size:cover;
}

#templatemo_header5 {
z-index:0;
margin-top:0px;
	
	width: 100%;
	height: 400px;
	padding: 20px 30px;
	margin: 0 auto;
	background: url(../images/12.jpg) no-repeat;
        background-size:cover;
}

.templatemo_header_wrapper2 {
	width: 100%;
	height: 62px;
        background: #fff;
	border-bottom: 1px solid #000;
       margin-top:25px;
}

#templatemo_header2 {
z-index:0;
margin-top:0px;
	
	width: 100%;
	height: 62px;
	padding: 20px 30px;
	margin: 0 auto;
	background: url(../images/12.jpg) no-repeat;
        background-size:cover;

}

/* Header # 6 */

.templatemo_header_wrapper6 {
	width: 100%;
	height: 62px;
        background: #fff;
	border-bottom: 1px solid #000;
       margin-top:25px;
}

#templatemo_header6 {
z-index:0;
margin-top:0px;
	
	width: 100%;
	height: 62px;
	padding: 20px 30px;
	margin: 0 auto;
	background: url(../images/12.jpg) no-repeat;
        background-size:cover;
}


 #site_title {
	float: left;
	clear:both;
	padding: 20px 20px 20px 20px;
	
	margin-top:-10px;
      z-index:100;
	margin-left:50px;
         background-color:#00B2EE;
}

 #templatemo_content1  #site_title h1 {color:#fff;
font-size:25px;
	margin: 0;
	padding: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,1);
}

.about_heading {

width:404px;
height:150px;
margin:0 auto;
margin-top:100px;

}

#templatemo_header2 .about_heading h1 {color: rgba(0, 0, 0, 0.2);
font-size:33px;
	margin: 0;
	padding: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
font-family: 'Open Sans', sans-serif;
}

#templatemo_content1 {
z-index:100;
padding: 60px 30px;
margin: 0 auto;
background-color:none);
position:relative;
z-index:10;
margin-top:-662px;
width: 1323px;
}
#templatemo_content {
z-index:100;
padding: 60px 30px;
margin: 0 auto;
background-color:rgba(0,0,0,0.8);
position:relative;
z-index:10;
margin-top:-640px;
width: 1080px;
}

#templatemo_content69 {
z-index:100;
padding: 60px 30px;
margin: 0 auto;
height:1000px;
background-color:rgba(0,0,0,0.8);
position:relative;
z-index:10;
margin-top:-640px;
width: 1080px;
}

#services_content {
margin-left:60px;


}


#templatemo_content2 {
z-index:100;
padding: 60px 30px;
margin: 0 auto;
background-color:rgba(0,0,0,0.8);
position:relative;
z-index:10;
margin-top:-640px;
width: 1180px;
}

#templatemo_content1  .site_marketing_first {
	float: right;
	clear:both;
	padding: 20px 20px 20px 20px;
	margin-top:10px;
	margin-right:100px;
background-color:rgba(255,77,196,.8);
      
}

#templatemo_content1  .site_marketing_first h1 {color:#fff;
	margin: 0;
	font-size:17px;
	padding: 0;
        text-shadow: 2px 2px 2px rgba(0,0,0,1);
}

#templatemo_content1   #site_marketing {
	float: right;
	clear:both;
	padding: 20px 20px 20px 20px;
	margin-top:15px;
	margin-right:100px;
        background-color:#00B2EE;
}

#templatemo_content1  #site_marketing2 h1 {color:#fff;
	margin: 0;
	font-size:17px;
	padding: 0;
        text-shadow: 2px 2px 2px rgba(0,0,0,1);
}

#templatemo_content1 #site_marketing2 {
	float: right;
	clear:both;
	padding: 20px 20px 20px 20px;
	margin-top:15px;
	margin-right:100px;
          background:#00B2EE;
}

#templatemo_content1 #site_marketing3 h1 {color:#fff;
	margin: 0;
	font-size:18px;
	padding: 0;
        text-shadow: 2px 2px 2px rgba(0,0,0,1);
}
#templatemo_content1  #site_marketing3 {
	float: right;
	clear:both;
	
	margin-top:28px;
	margin-right:100px;
          background:#00FF00;
}


#templatemo_content1  #site_marketing h1 {color:#fff;
	margin: 0;
	font-size:16px;
	padding: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,1);
}
  #site_title h1 a{
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}

#companylogo {
width:390px;
margin-left:50px;
margin-top:9px;
}

/* end of header */

/* top row */

.bluetitle {
color:#00B2EE;
line-height:130%;
font-family: 'Open Sans', sans-serif;
font-size:17px;
background:none;
padding:2px 2px 2px 0px;
}

#templatemo_top_row_wrapper {
margin-top:510px;
	clear: both;
	width: 100%;
	height: 170px;
	 background:#000;
	z-index:100;
height: 300px;
}

#blurpix {
        width: 944px;
	height: 150px;
	z-index: 0;
	position: absolute;
	left:207px;
	margin-top:-56px;
	-webkit-filter: sepia(100%);
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);


}

#templatemo_top_row {
	width:970px;
height:200px;
	margin: 0 auto;
	padding:0;
background:none;
z-index: 100;
position:relative;
}

#templatemo_top_row .top_row_box {
	
	float: left;
	width: 300px;
	height: 300px;
	padding: 0;
	margin-right:22px;
	background-color:#DCDCDC;
z-index: 100;
}

.blackbox {
margin:0;
padding:10px;
width: 300px;
height: 180px;
background-color: #000;
}

#pikesurfimage1 {
padding:10px;
width:280px;
height:200px;
background:#fff;
}
#imagegroup {
margin-left:85px;

}
.popyimg {

padding:10px;
width:280px;
height:200px;
background:#fff;
}

.pikesurfimage7 {
margin-top:22px;
float:left;position:relative;
padding:10px;
margin-right:6px;
width:280px;
height:200px;
background:#fff;
}
#pikesurfimage8{
float:left;position:relative;
margin-top:22px;
padding:10px;
width:280px;
height:200px;
background:#fff;
}

#templatemo_top_row .last {
	background-color:rgba(255,255,255);
}

#templatemo_top_row p {
	color: #fff;
}

/* end of top row */

/* content*/

#templatemo_content_wrapper {
margin-top:0;
	clear: both;
	width: 100%;
        background:#000;
	z-index:10;	
position:absolute;
}
#templatemo_content_wrapper2 {
margin-top:0;
	clear: both;
	width: 100%;
        background:#000;
	border-bottom: 1px solid #282829;
z-index:10;	
position:absolute;
}

#templatemo_content7 {

	width: 1030px;
	padding: 60px 30px;
	margin: 0 auto;
background-color:rgba(0,0,0,0.8);
position:relative;
z-index:10;
margin-top:10px;
margin-left:250px;
}

#surfrincon {
width:1140px;
margin-left:-50px;
height:75px;
padding: 60px 30px;
background: url(../images/smoo1.jpg) no-repeat;
position:relative;
z-index:0;
margin-top:-28px;
}
#welcomecenter {
width:900px;
margin: 0 auto;
height:160px;
padding: 60px 30px;
position:relative;
z-index:0;
margin-top:-45px;
}
#welcome {
width:1080px;
margin-left:-20px;
height:333px;
padding: 60px 30px;
background: url(../images/smoo2.jpg) no-repeat;
position:relative;
z-index:0;
margin-top:-28px;
}
#welcome2 {
width:1080px;
margin-left:-50px;
height:122px;
padding: 60px 30px;
background: url(../images/smoo1.jpg) no-repeat;
position:relative;
z-index:0;
margin-top:-72px;
}
#welcomecenter2 {
width:900px;
margin: 0 auto;
height:150px;
padding: 60px 30px;
position:relative;
z-index:0;
margin-top:-74px;
}


#templatemo_content8{
border-top: 1px solid green;
	width: 1100px;
height:150px;
	padding: 60px 30px;
	margin: 0 auto;
background-color:#000;
position:relative;
z-index:0;
margin-top:1000px;
}

#content_filler{
border-top: 1px solid green;
	width: 1100px;
height:150px;
	padding: 60px 30px;
	margin:0 auto;
background-color:#000;
position:relative;
z-index:0;
margin-top:750px;
}

#content_filler7{
border-top: 1px solid green;
	width: 1100px;
height:150px;
	padding: 60px 30px;
	margin:0 auto;
background-color:#000;
position:relative;
z-index:0;
margin-top:1300px;
}
#content_filler9{
border-top: 1px solid green;
	width: 1100px;
height:150px;

clear:both;
	padding: 60px 30px;
	margin:0 auto;
background-color:#000;
position:relative;
z-index:0;
margin-top:3600px;
}
#content_filler66{
border-top: 1px solid green;
	width: 1100px;
height:150px;
	padding: 60px 30px;
	margin:0 auto;
background-color:#000;
position:relative;
z-index:0;
margin-top:1040px;
}

#cleanme {
height:270px;

}

#cleanme2 {
height:1000px;

}


#templatemo_content9{

	width: 1100px;
height:15px;
	padding: 60px 30px;
	margin: 0 auto;
background-color:none;
position:relative;
z-index:0;
margin-top:50px;
}


.whitedes {
color:#fff;
}

.greendes {
color: #fff;
}

#templatemo_content8 h1 {
font-size:19px;
margin-top:-50px;
margin-bottom:13px;
font-family: 'Open Sans', sans-serif;
color:#00FF00;

}
#templatemo_content p{
color:#fff;
font-family: 'Open Sans', sans-serif;
font-size:14px;

}
#top_photo {

width:200px;
height:150px;
}

#righty {
float:right;
width:575px;
}
#lefty {
float:left;
margin-left:45px;
margin-top:-30px;

width:585px;
}
#bottomlefty {
float:left;

margin-top:25px;

width:1000px;
}





#about_background {
-webkit-filter: grayscale(100%);
-webkit-filter: contrast(190%);
z-index:0;
width:100px;
}
#about_background2 {

-webkit-filter: contrast(160%);
z-index:0;
width:1351px;
}
#about_background3 {
-webkit-filter: brightness(22%);
filter:  brightness(22%); -webkit-filter:  brightness(22%); -moz-filter:  brightness(22%);
-o-filter:  brightness(22%); -ms-filter:  brightness(22%);
z-index:0;
width:1351px;
height:645px;

}

.pricedes{
font-size:15px;
margin-top:-4px;
color:#00FF00;

}
.priceshow{
font-size:14px;
margin-top:5px;
color:#00B2EE;

}

#test1 {
text-indent:11px;
margin-bottom:70px;
width:700px;
margin-top:-10px;
margin-left:177px;
}

.two_column {
	width: 430px;
}

.two_column7 {
margin-top:12px;
margin-left:250px;
width: 400px;
height:330px;
}
.includes {
color:#fff;
}

.two_column8 {
margin-top:12px;
margin-left:30px;
width: 400px;
height:330px;
}
.services_section {
	clear: both;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #CCC;
	background: #000;	
}

.services_section h4 {
	margin-bottom: 20px;
}

.services_section h3 {
	margin-bottom: 20px;
	margin-left:20px;
color:#00B2EE;
}
 .righttitle2 {margin-top:-17px;
	margin-bottom: 20px;
	margin-left:0px;
color:#FF0080;
background:#222;
font-weight:bold;
width:70px;
font-size:19px;
padding-left:8px;

}
.righttitle3{margin-top:-17px;
	margin-bottom: 20px;
	margin-left:0px;
color:#FF0080;
background:#222;
width:82px;
font-weight:bold;
font-size:19px;
padding-left:8px;

}
.righttitle4{margin-top:-17px;
	margin-bottom: 20px;
	margin-left:0px;
font-weight:bold;
color:#FF0080;
background:#222;
width:155px;
font-size:19px;
padding-left:8px;

}

.righttitle5{margin-top:-17px;
	margin-bottom: 20px;
	margin-left:0px;
color:#FF0080;
background:#222;
width:145px;
font-size:19px;
padding-left:8px;

}
.righttitle6{margin-top:-19px;
	margin-bottom: 0px;
	margin-left:0px;
color:#FF0080;
background:#222;
width:165px;
font-size:19px;
padding-left:8px;

}





.services_section .left {
	float: left; 
	width: 150px;
	margin-right: 30px;
}

.services_section .middle {
	float: left; 
	width: 350px;
}

.services_section .right {
	float: right; 
	width: 350px;
}

.services_section .left img {
	border:1px solid #CCC;
	padding: 5px;
}

#video_summary {
margin-top:18px;
color:#CDCDCD;
margin-left:12px;
}

/* post */

.post_box {
	clear: both;
	padding-bottom: 30px;
	margin-bottom: 30px;
	background: #000;	
}

.post_box .post_content {
	clear: both;
	margin: 10px 0;
}
.post_content .left {
	float: left; 
	width: 300px;
}

.post_content .left img {
	width: 280px;
	height: 160px;
	border:1px solid #000;
	padding: 5px;
	background: #1a1b1c;
}

.post_content .right {
	float: right; 
	width: 600px;
}

.post_content h2 {
	margin-bottom: 5px;
}

.post_box p {
	padding-bottom: 5px;
	margin: 20px 0 10px 0;
}

.post_section .post_info{
	font-style: italic;
}

.post_box .comment_tab {
	padding: 10px 0;
	margin: 40px 0 20px 0;
	border-bottom: 1px dashed #666;
	font-size: 20px;
	font-weight: bold;
}


/* end of post */

/* gallery */
#gallery {
		width: 930px;
		padding: 40px 0;
	}
	#gallery ul { list-style: none; margin: 0; padding: 0; }
	#gallery ul li {
		float: left;
		display: inline; 
		padding: 0;
		margin: 0;
		width: 245px;
		margin: 0 60px 60px 0;
	}
	
	#gallery ul li h5 {
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px dotted #CCC;
	}
	 
	#gallery ul img {
		width: 245px;
		height: 130px;
		border: none;
		margin-bottom: 10px;
	}
/* end of gallery */
#contact_form {
	float: left;
	padding: 0;
}

#contact_form form {
	margin: 0px;
	padding: 0px;
	/*border:1px solid #e2d1be;
	padding: 20px 20px 10px 20px; */
}

#contact_form form #inputName {
	height: 18px;
	width: 260px;
	background: #222222;
	border: 1px solid #00B2EE;
	color: #CCCCCC;
	padding: 4px;
}
#contact_form form #inputEmail {
	height: 18px;
	width: 260px;
	background: #222222;
	border: 1px solid #00B2EE;
	color: #CCCCCC;
	padding: 4px;
}
#contact_form form #inputSubject{
	height: 18px;
	width: 260px;
	background: #222222;
	border: 1px solid #00B2EE;
	color: #CCCCCC;
	padding: 4px;
}


#contact_form form label {
	display: block;
	width: 100px;
	margin-right: 10px;
	font-size: 14px;	
}

#contact_form form textarea {
	width: 350px;
	height: 150px;
	background: #222222;
	border: 1px solid #00B2EE;
	color: #CCCCCC;
	padding: 4px;
}

#contact_form form .submit_btn {
	margin-right: 80px;
	padding: 5px 10px;
	background: #222222;
	border: 1px solid #FF69B4;
	color: #CCCCCC;
}


/* end of content */

/* footer */

#templatemo_footer_wrapper {
	clear: both;
	width: 1351px;
	background: #000;margin-top:100px;
	border-top: 1px solid #000;	
	border-bottom: 1px solid #000;
}


.fb-like-box {
margin-top:45px;
margin-left:55px;
float:left;
}
#yelpwidget {
margin-top:120px;
margin-left:70px;
float:left;
}



#templatemo_footer {
	width: 930px;
	padding: 45px 30px;
	margin: 0 auto;
	color: #d8d3bd;
}


#templatemo_footer_wrapper #templatemo_footer #egospace{
background-color:#1A1A1A;
width:745px;
height:365px;
margin:0 auto;
margin-top:44px;
}

.footer_box {
	float: left;
	width: 280px;
	padding: 0 30px 0 0;
}

.footer_menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer_menu li {
	margin: 0;
	padding: 5px 0;
}

.footer_menu li a {
	color: #d8d3bd;
}

.footer_menu li a:hover {
	color: #fff;
}

.marketing_header {
font-family: 'Open Sans', sans-serif;
font-weight:lighter;
font-size:19px;
padding-left:8px;
color:#00FF00;
background:#111;
margin-bottom:12px;
width:144px;}

.marketing_header99 {
font-family: 'Open Sans', sans-serif;
font-weight:lighter;
font-size:19px;
padding-left:8px;
color:#00FF00;
background:#111;
margin-bottom:12px;
width:110px;}

.marketing_header6 {
font-family: 'Open Sans', sans-serif;
font-weight:lighter;
font-size:19px;
margin-left:8px;
padding-left:8px;
color:#00FF00;
background:#222;
margin-bottom:0px;
width:100px;}

.marketing_header100 {
font-family: 'Open Sans', sans-serif;
font-weight:lighter;
font-size:19px;
margin-left:8px;
padding-left:8px;
color:#00B2EE;
margin-bottom:0px;
}
.marketing_header101 {
font-family: 'Open Sans', sans-serif;
font-weight:lighter;
font-size:28px;
margin-left:8px;
padding-left:8px;
color:#fff;
margin-top:11px;
margin-bottom:22px;
}


.contacttitle {

font-family: 'Open Sans', sans-serif;
font-weight:lighter;
font-size:19px;
padding-left:8px;
color:#00FF00;
background:#222;
margin-bottom:12px;
width:400px;

}

.contactp, .enjoyp {
color:#00B2EE;
}
.marketing_header11 {
font-family: 'Open Sans', sans-serif;
font-weight:lighter;
font-size:19px;
padding-left:8px;
color:#00FF00;
background:#000;
margin-top:-188px;
margin-bottom:12px;
width:144px;
margin-left:14px;}

.marketing_header7 {
font-family: 'Open Sans', sans-serif;
font-weight:lighter;
font-size:19px;
padding-left:8px;
color:#00FF00;
background:#222;
margin-bottom:12px;
width:205px;}

.marketing_header9 {
font-family: 'Open Sans', sans-serif;
font-weight:lighter;
font-size:19px;
padding-left:8px;
color:#00FF00;
background:#222;
margin-bottom:12px;
width:177px;}

.marketing_header10 {
font-family: 'Open Sans', sans-serif;
font-weight:lighter;
font-size:19px;
padding-left:8px;
color:#00FF00;
background:#222;
margin-top:-33px;
width:130px;}

.marketing_header22 {
font-family: 'Open Sans', sans-serif;
font-weight:lighter;
font-size:19px;
padding-left:8px;
color:#00FF00;
background:#222;
margin-top:-33px;
width:160px;}


h1.marketing_header2 {
font-family: 'Open Sans', sans-serif;
font-weight:lighter;
font-size:19px;
padding-left:8px;
padding-top:6px;
padding-bottom:6px;
color:#00FF00;
background:#111;
margin-bottom:12px;
width:250px;}


#templatemo_footer img{
	padding: 10px;
	background: #fff;
	border: 1px solid #34322f;
	margin-bottom: 10px;
}
/* end of footer */


/* end of copyright */
#templatemo_copyright_wrapper {
	width: 100%;
      
	background: #000000;
	border-top: 1px solid #262626;
}

#templatemo_copyright {
	width: 960px;
	margin: 0 auto;

	padding: 15px 20px;
	text-align: center;
	color: #fff;
}

#templatemo_copyright a {
	color: #fff;
text-decoration:none;
 color:#00B2EE;

}
#templatemo_copyright a.greenlinked {
color:#00FF00;
}

